*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:
  radial-gradient(
    circle at top,
    rgba(255,255,255,0.08),
    transparent 35%
  ),
  #050505;

  color:white;

  overflow-x:hidden;
}

/* grain texture */

body::before{
  content:"";

  position:fixed;
  inset:0;

  background-image:url("https://grainy-gradients.vercel.app/noise.svg");

  opacity:0.04;

  pointer-events:none;

  z-index:999;
}